/* Layout elements */


.logo {
	background-image: url(images/logo.jpg);
	height: 335px;
	width: 990px;
	background-repeat: no-repeat;
	text-align: right;
	vertical-align: top;
}
.logo-bottom {
	background-image: url(images/logo-bottom.jpg);
	height: 22px;
	width: 990px;
	background-repeat: no-repeat;
}
.logo-bottom-wide {
	background-image: url(images/logo-bottom-wide.jpg);
	height: 22px;
	width: 990px;
	background-repeat: no-repeat;
}
.menu-background {
	text-align: left;
}
.leftmenu {
	width: 210px;
	background-image: url(images/menu-background-left.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: 313px;
	vertical-align: top;
	text-align: left;
}
.rightmenu {
	width: 210px;
	background-image: url(images/menu-background-right.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	height: 313px;
	vertical-align: top;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	color: #F18640;
	background-image: url(images/footer-fill-wide.jpg);
	background-repeat: repeat-y;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}
.footer-top {
	background-image: url(images/footer-top.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 990px;
}
.footer-bottom {
	background-image: url(images/footer-bottom.gif);
	background-repeat: no-repeat;
	height: 26px;
	width: 990px;
}
.menu-fill-left {
	background-image: url(images/menu-fill-left.jpg);
	background-repeat: repeat-y;
	height: 210px;
	height: 25px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.menu-fill-right {
	background-image: url(images/menu-fill-right.jpg);
	background-repeat: repeat-y;
	height: 25px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.news-body-wide {
	background-image: url(images/news-background-wide.jpg);
	background-repeat: no-repeat;
	width: 780px;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	height: 313px;
	vertical-align: top;
}
.news-body {
	background-image: url(images/news-background.jpg);
	background-repeat: no-repeat;
	width: 570px;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	height: 313px;
	vertical-align: top;
}
.news-fill {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	width: 570px;
	background-color: #000000;
	text-align: left;
}
.menucaptionleft {
	background-image: url(images/menu-caption-left.gif);
	height: 14px;
	width: 11px;
	background-repeat: no-repeat;
}
.menucaptionright {
	background-image: url(images/menu-caption-right.gif);
	height: 24px;
	width: 10px;
	background-repeat: no-repeat;
}
.menucaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FEE8C2;
	text-align: center;
	background-image: url(images/menu-caption-fill2.gif);
	background-repeat: repeat-x;
	font-weight: bold;
	height: 24px;
}
.spacer {
	padding-top: 2px;
	background-position: center;
}
.menucolor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F18640;
	vertical-align: top;
	width: 100%;
	text-align: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}

/* Forum */

.nforumcaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FDD99B;
	font-weight: bold;
}
.fborder {
	border: 1px solid #F18640;
}

.fborder tbody tr td {
	background-color: #A23627;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.forumheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FEE8C2;
	border: 1px solid #FEE8C2;
	font-weight: normal;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	background-color: #E9643A;
}
.forumheader2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FEE8C2;
	border: 1px solid #E9643A;
	padding: 1px;
	vertical-align: middle;
	text-align: left;
}
.finfobar {
	border: 1px solid #F18640;
}

.forumheader3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F18640;
	border: 1px solid #E9643A;
	padding: 2px;
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
}

.forumheader3 div {
	padding: 3px;
}
.fcaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FDD99B;
	border: 1px solid #F18640;
	font-weight: bold;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	background-image: url(images/menu-caption-fill.gif);
	background-repeat: repeat-x;
}

/* Fonts */


.mediumtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FDD99B;
}
.smallblacktext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #F7993C;
}
.defaulttext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F18640;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	color: #FDD99B;
	text-decoration: none;
}
div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}
.menucaption a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FDD99B;
	text-decoration: none;
}
.menucaption a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
.fcaption a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FDD99B;
	text-decoration: none;
	font-weight: normal;
}
.fcaption a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}
.chatheader a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #AE3A13;
	text-decoration: none;
}
.chatheader a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-decoration: none;
}
/* */

.tbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: auto;
	width: auto;
	color: #FEE8C2;
	background-color: #E9643A;
	padding: 1px;
	border: 1px solid #FEE8C2;
}
.helpbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: auto;
	width: auto;
	color: #FEE8C2;
	background-color: #E9643A;
	padding: 1px;
	border: 1px solid #FEE8C2;
}
.button {
	background-image: url(images/menu-caption-fill.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FEE8C2;
	background-color: #E9643A;
}
.chatheader {
	background-image: url(images/chatbox-top.gif);
	background-repeat: no-repeat;
	padding-left: 5px;
	height: 16px;
	width: 187px;
	padding-right: 5px;
	color: #5B1B1C;
	padding-right: 1px;
	font-size: 10px;
}
div .chatmessage {
	padding-right: 2px;
	padding-left: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-image: url(images/chatbox-fill.gif);
	background-repeat: repeat-y;
	width: 187px;
	color: #5B1B1C;
}
.chatbottom {
	background-image: url(images/chatbox-bottom.gif);
	background-repeat: no-repeat;
	height: 8px;
	width: 187px;
}

.finfobar td {
	text-align: left;
}

/* HTML tags */
body {
	background-color: #175783;
	margin: 0px;
	padding: 0px;
	background-image: url(images/background.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
}

.indent {
	background-color: #953A2B;
	padding: 4px;
	margin-right: 15px;
	margin-left: 15px;
	color: #FDD99B;
}

td.indent {
	background-color: #98282E;
	border: 1px dotted #FDD99B;
}

.smalltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #F18640;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	color: #F18640;
	text-align: left;
}
div .b {
	background-image: url(images/bar.png);
	background-repeat: repeat-x;
	height: 14px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


/* Brainjar Nav Menu Classes {SITELINS_ALT} */
/*
If you do not use {SITELINS_ALT} and switch to the standard {SITELINKS} instead, 
all of the below can be deleted.
*/
/*----------------------------------------------------------------------------*/

div.menuBar, div.menuBar a.menuButton, div.menuButton, div.menuButton_over, div.menu, div.menu a.menuItem {
	font: bold 12px arial, verdana, arial, tahoma, sans-serif;
	color: #FDD99B; 
	text-align: left;
}

div.menuBar {
	text-align: left;
	background-image: url(images/menu-caption-fill2.gif);
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

div.emenuBar {
	background-color: #F7F9FA;
	border-top: 1px solid #fff;
	text-align: left;
}

div.menuBar a.menuButton, div.menuButton, div.menuButton_over {
	background-color: transparent;
	left: 0px;
	margin: 0px;
	padding: 2px 6px 2px 6px;
	position: relative;
	text-decoration: none;
	top: 0px;
	z-index: 100;
}

div.menuBar a.menuButton:hover, div.menuButton:hover, div.menuButton_over {
	background-color: #E9643A;
	border-color: #FDD99B #FDD99B #FDD99B #FDD99B !important; 
	color: #FDD99B;
}

div.menuBar a.menuButtonActive, div.menuButtonActive, div.menuButtonActive:hover, div.menuBar a.menuButtonActive:hover {
	background-color: #E9643A;
	border-color: #FDD99B #FDD99B #FDD99B #FDD99B !important; 
	color: #FDD99B;
}

div.menu {
	background-color: #E9643A;
	border: 1px solid;
	border-color: #fff #000 #000 #fff;
	left: 0px;
	padding: 1px;
	position: absolute;
	top: 0px;
	visibility: hidden;
	z-index: 101;
}
div.menu a.menuItem {
	display: block;
	padding: 2px 11px 2px 0px;
	text-decoration: none;
	white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
	background-color: #AC3913;
}

div.menu a.menuItem span.menuItemBuffer, div.menu a.menuItem:hover span.menuItemBuffer {
	padding: 0px 2px;
}

div.menu a.menuItem span.menuItemText {
	padding: 0px 0px 0px 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FDD99B;
}

div.menu a.menuItem span.menuItemArrow {
	margin-right: -.75em;
}

div.menu div.menuItemSep {
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #fff;
	margin: 4px 2px;
}

a.menuItem.header {
	border-bottom: 1px solid #b3b3b3;
}
code {
	background-color: #1569A2;
}
.footer-top-wide {
	background-image: url(images/footer-top-wide.jpg);
	background-repeat: no-repeat;
	height: 36px;
	width: 990px;
}
#navigator {
	position: relative;
	top: -13px;
}
