/* CSS Document */

body { margin: 0; padding: 0; background: #B4B4B4; color: #525554; font: Tahoma; font-size: 12px; }

a 
{ color: #525554; font-weight: bold; text-decoration:none; }

a:hover 
{ color: #FE572A; font-weight: bold; text-decoration: underline; }

p {}

h1, h2, h3, h4, h5, h6{
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #B2B2B2;
	margin: 2px 0 6px 0;
	padding: 4px 0px 0px 6px;
	text-align: left;
	height: 21px;
	background: #525554;
	color: #fff;
	}

table 
{ margin: 0px; padding: 0px; border: none; border-collapse: collapse; }

td 
{ text-align:left; vertical-align:top; padding-left:2px; padding-right:2px; }

blockquote {}

ul, ol {}

form { }

input
{ margin:2px; }

hr 
{ margin-top: 2px; height: 1px; border: none; background-color: #3f3f3f; }

/* start of site layout */

#wrapper { width: 98%; margin: 17px auto; padding: 0; background: url(images/center.png) repeat-x top; }

#topleft { background: url(images/topleft.png) no-repeat left; height: 18px; }

#topright { background: url(images/topright.png) no-repeat right; height: 18px;}

/* header */

#headb { background: url(images/hb.jpg) repeat-x; border-left: 1px dotted #666666; border-right: 1px dotted #666666;}

#head { background: url(images/logo.jpg) no-repeat center; height: 355px; /*padding*: 1px;*/ }

/* main menu */

#nav
{ margin: 175px 0 0 210px; padding: 4px 0 0 0; list-style-type: none; float: left; }

#nav a
{ display: block; text-decoration: none; text-align: left; padding: .2em .5em; font: 15px Tahoma; color: #4545da; font-weight: bold; }

#nav a:hover
{ color: #FE572A; font-weight: bold; border-bottom: 1px dashed #666666; border-top: 1px dashed #666666; }

#nav li
{ display: inline; }


/*#logo { background: url(images/logo1.png) no-repeat top; width: 400px; height: 77px;*/

/* end of main menu and header */

/* content */

#content { background: url(images/hb.jpg); border-left: 1px dotted #666666; border-right: 1px dotted #666666;}

#left { width: 17%; float: left; background: #D6D6D6; border: 1px solid #B2B2B2; text-align: center; margin-left: 4px; padding:2px;}

#right { width: 17%; float: right; background: #D6D6D6; border: 1px solid #B2B2B2; text-align: center; margin-right: 4px; padding:2px;}

.news { width: 62%; float: left; background: url(images/cbg.png); border: 1px solid #B2B2B2; margin-left: 7px; padding:2px; }

.title { margin: 4px; padding: 0; min-height: 21px; border-bottom: 1px dashed #666666; text-align: left ; font-weight: bold; font-size: 14px; color: #FE572A; } 

.story { margin: 4px; padding: 0; text-align: left;  }

.postby { margin: 7px 4px 7px 4px; padding: 0; text-align: right; font-size: 11px; }

.date { text-align: right; font-weight: normal; color: #525554; padding-right: 4px; font-size: 11px; }

.clear { clear: both; height: 7px; }

/* end of content */

/* footer */

#footer { text-align: center; font-size: 11px; }

#footerc { background: url(images/bcenter.png) repeat-x; height: 18px; }

#footerl { background: url(images/bottomleft.png) no-repeat left; height: 18px; }

#footerr { background:url(images/bottomright.png) no-repeat right; height: 18px; }

/* end of layout */

/* E107 STYLES */

.bodytable {
	padding: 8px;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #ccc;
}

.indent{
	padding: 5px;
	margin: 5px;
	font: 19px verdana, tahoma, arial, sans-serif;
	color: #aaa;
	border: 1px solid;
	background-color: #333333;
	border-bottom: #39393b 1px solid;
	border-left: #151515 1px solid;
	border-right: #39393b 1px solid;
	border-top: #151515 1px solid;
	background: #B8BFC6;
}
	.indentchat{
	border: 1px solid  #B2B2B2;
	margin:2px;
	padding:4px; 
	display:block;
	text-decoration:none;
	font-weight:bold;
	text-align: center;
	color: #666666;
	background: url(images/cbg.png);
}
.small {

	color: #666666;
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
}

.smalltext {
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #666666;
}
.smallbottom {
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #666666;
	text-align:left;
}

.tbox {
	background-color: #fff;
	border: #9DA1A6 1px solid;
	color: #000;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}

.helpbox {
	background-color: #1f1f1f;
	border: #9DA1A6 1px solid;
	color: #cccccc;
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
}

.button{
	margin:2px 2px;
	background: #fff;
	border: #9DA1A6 1px solid;
	color: #525554;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif bold;
	text-align:center;
}

/* FORUM STYLES */

.fcaption {
	padding:0px 4px;
	height:21px;
	line-height:21px;
	background: #525554;
	border: 1px solid #9DA1A6;
	color: #fff;
	font-weight:bold;
}

.fcaption span.smalltext{
	color: #fff;
}

.fcaption span.smalltext a:hover{
	color: #FE572A;
}

.fcaption a {
	color: #fff;
	text-decoration: none;
}

.fcaption a:hover {
	color: #FE572A;
}

a.forumlink{
	color: #fff;
	text-decoration: none;
}

a.forumlink:hover{
	color: #FE572A;
}

.fborder {
	border:0px;
	background-color: transparent;
}

.forumheader{
    background:  #D6D6D6;
	padding:0px 4px;
	height:20px;
	line-height:16px;
	font-weight:bold;
	color: #666666;
	border: 1px solid #9DA1A6;
	
}

.forumheader2{
   background: #E5E5E5;
	color: #666666;
	padding: 4px;
	border: #9DA1A6 1px solid;
	}
	
 .forumheader3{
   background: #E5E5E5;
	color: #666666;
	padding: 4px;
	border: #9DA1A6 1px solid;

}

 .forumheader4{
	background-color: #E5E5E5;
	font: 10px verdana, tahoma, arial, sans-serif;
	color: #666666;
	padding: 4px;
	border: #9DA1A6 1px solid;
}

.finfobar{

	padding: 4px;
	border: #9DA1A6 1px solid;
	background:  #D6D6D6;
}






