/* Layout elements */

.logo {
	background-image: url(images/logo.jpg);
	height: 145px;
	width: 990px;
	background-repeat: no-repeat;
	text-align: right;
	vertical-align: top;
}
.logo-bottom {
	background-image: url(images/logo-bottom.jpg);
	height: 22px;
	width: 990px;
	background-repeat: no-repeat;
}
.logo-bottom-wide {
	background-image: url(images/logo-bottom-wide.jpg);
	height: 22px;
	width: 990px;
	background-repeat: no-repeat;
}
.menu-background {
	text-align: left;
}
.leftmenu {
	width: 210px;
	background-image: url(images/menu-background-left.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: 313px;
	vertical-align: top;
}
.rightmenu {
	width: 210px;
	background-image: url(images/menu-background-right.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	height: 313px;
	vertical-align: top;
}
.footer {
	background-color: #000000;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0099FF;
}
.menu-fill-left {
	background-image: url(images/menu-fill-left.jpg);
	background-repeat: repeat-y;
	height: 25px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.menu-fill-right {
	background-image: url(images/menu-fill-right.jpg);
	background-repeat: repeat-y;
	height: 25px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.news-body-wide {
	background-image: url(images/news-background-wide.jpg);
	background-repeat: no-repeat;
	width: 798px;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
}
.news-body {
	background-image: url(images/news-background.jpg);
	background-repeat: no-repeat;
	width: 570px;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
}
.news-fill {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	width: 570px;
	background-color: #000000;
}
.menucaptionleft {
	background-image: url(images/menu-caption-left.gif);
	height: 24px;
	width: 11px;
	background-repeat: no-repeat;
}
.menucaptionright {
	background-image: url(images/menu-caption-right.gif);
	height: 24px;
	width: 10px;
}
.menucaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #AED7ED;
	text-align: center;
	background-image: url(images/menu-caption-fill.gif);
	background-repeat: repeat-x;
	font-weight: bold;
	height: 24px;
}
.spacer {
	padding: 0px;
	background-position: center;
}
.menucolor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00B5F0;
	vertical-align: top;
	width: 100%;
	text-align: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}

/* Forum */

.nforumcaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6a7893;
	font-weight: bold;
}
.fborder {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0033CC;
	border-right-color: #0066CC;
	border-bottom-color: #0066CC;
	border-left-color: #0033CC;
}

.forumheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #AED7ED;
	border: 1px solid #0066CC;
	font-weight: normal;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	background-color: #1C6592;
}
.forumheader2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00B5F0;
	border: 1px solid #0033CC;
	padding: 1px;
	vertical-align: middle;
	text-align: left;
}
.finfobar {
	border: 1px solid #0033cc;
}

.forumheader3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00B5F0;
	border: 1px solid #0962C4;
	padding: 2px;
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
}

.forumheader3 div {
	padding: 3px;
}
.fcaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #AED7ED;
	border: 1px solid #194783;
	font-weight: normal;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	background-image: url(images/menu-caption-fill.gif);
	background-repeat: repeat-x;
}
.forumlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099CC;
	font-style: normal;
	font-weight: bold;
}

/* Fonts */


.mediumtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00B5F0;
}
.smallblacktext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #00B5F0;
}
.defaulttext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0099FF;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	color: #6FC6FF;
	text-decoration: none;
}
div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}
.menucaption a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #AED7ED;
	text-decoration: none;
}
.menucaption a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
.fcaption a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #AED7ED;
	text-decoration: none;
}
.fcaption a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}
/* */

.tbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: auto;
	width: auto;
	color: #AED7ED;
	background-color: #31536C;
	padding: 1px;
	border: 1px solid #7BA5C4;
}
.helpbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: auto;
	width: auto;
	color: #AED7ED;
	background-color: #31536C;
	padding: 1px;
	border: 1px solid #7BA5C4;
}
.button {
	background-image: url(images/menu-caption-fill.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #AED7ED;
	background-color: #0099CC;
}
.chatheader {
	background-image: url(images/rightarrow.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-color: #3D444C;
}
div .chatmessage {
	padding-bottom: 8px;
	background-color: #262D34;
	padding-right: 2px;
	padding-left: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/* HTML tags */
body {
	background-color: #175783;
	margin: 0px;
	padding: 0px;
	background-image: url(images/background.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
}

.indent {
	background-color: #0A324C;
	padding: 4px;
}

td.indent {
	background-color: #0A324C;
	border: 1px dotted #0099CC;
}

.smalltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #00B5F0;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	color: #00B5F0;
}
div .b {
	background-image: url(images/bar.png);
	background-repeat: repeat-x;
	height: 14px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
/* Brainjar Nav Menu Classes {SITELINS_ALT} */
/*
If you do not use {SITELINS_ALT} and switch to the standard {SITELINKS} instead, 
all of the below can be deleted.
*/
/*----------------------------------------------------------------------------*/

div.menuBar, div.menuBar a.menuButton, div.menuButton, div.menuButton_over, div.menu, div.menu a.menuItem {
	font: bold 12px arial, verdana, arial, tahoma, sans-serif;
	color: #6FC6FF;
	text-align: left;
}

div.menuBar {
	text-align: left;
	background-image: url(images/menu-caption-fill.gif);
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

div.emenuBar {
	background-color: #F7F9FA;
	border-top: 1px solid #fff;
	text-align: left;
}

div.menuBar a.menuButton, div.menuButton, div.menuButton_over {
	background-color: transparent;
	border: 1px solid;
	border-color: transparent !important;
	left: 0px;
	margin: 0px;
	padding: 2px 6px 2px 6px;
	position: relative;
	text-decoration: none;
	top: 0px;
	z-index: 100;
}

div.menuBar a.menuButton:hover, div.menuButton:hover, div.menuButton_over {
	background-color: #5089AF;
	border-color: #6FC6FF #6FC6FF #6FC6FF #6FC6FF !important; 
	color: #6FC6FF;
}

div.menuBar a.menuButtonActive, div.menuButtonActive, div.menuButtonActive:hover, div.menuBar a.menuButtonActive:hover {
	background-color: #5089AF;
	border-color: #6FC6FF #6FC6FF #6FC6FF #6FC6FF !important; 
	color: #6FC6FF;
}

div.menu {
	background-color: #39617D;
	border: 1px solid;
	border-color: #fff #000 #000 #fff;
	left: 0px;
	padding: 1px;
	position: absolute;
	top: 0px;
	visibility: hidden;
	z-index: 101;
}
div.menu a.menuItem {
	display: block;
	padding: 2px 11px 2px 0px;
	text-decoration: none;
	white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
	background-color: #1C2F3E;
}

div.menu a.menuItem span.menuItemBuffer, div.menu a.menuItem:hover span.menuItemBuffer {
	padding: 0px 2px;
}

div.menu a.menuItem span.menuItemText {
	padding: 0px 0px 0px 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #AEDFFF;
}

div.menu a.menuItem span.menuItemArrow {
	margin-right: -.75em;
}

div.menu div.menuItemSep {
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #fff;
	margin: 4px 2px;
}

a.menuItem.header {
	border-bottom: 1px solid #b3b3b3;
}


